.App {
  margin: 5rem;
}

body {
  background-color: orchid;
}

.Cart {
  background-color: white;
  border-radius: 1rem;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.CartHeading {
  border-bottom: 1px solid grey;
}

.CartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.CartItem div {
  width: 25%;
}
